<html>
    <head>
        <title>Nurblizer</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="ad">
            <script>
                google_ad_client = "ca-pub-6075374749119067";
                /* Nurblizer */
                google_ad_slot = "7853244668";
                google_ad_width = 728;
                google_ad_height = 90;
            </script>
            <script src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
        </div><!-- .ad -->

        <div class="container">
